/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

.center {
	text-align: center;
	margin: auto;
}
.center-text {
	text-align: center;
}

.global-nav {
	border-bottom: 1px solid #007bff;
	height: 80px;
}

#landing-background {
	height: 406px;
	color: #fff;
	text-align: center;
	padding: 160px 0px;
	background-image: url("https://s3-us-west-1.amazonaws.com/ginnysbucket/dev-images/audience.jpeg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.events {
	min-height: 470px;
	h2 {
		margin-top: -20px;
	}
	
	.card-deck {
		width: 100%;
		margin: 70px 0px 0px 0px;
		
		.card {
			width: 275px;
			height: 240px;
			margin-bottom: 30px;
			background-color: gray;
			box-shadow: 1px 3px 18px #888;

			.card-img-top {
				height: 160px;
				background-size: cover;
				background-position-x: center;
			}
			.card-body {
				height: 80px;
				padding: 0px 0px;
				text-align: center;
				color: white;
			}
		}
	}
	.hunnit {
		background-color: #fff;
		height: 100px;
	}

	.event-selector {
			
			.cities {
				p {
					margin-top: 90px;
					font-size: 3rem;
				}
				cursor: pointer;
				color: #fff;
				height: 300px;
				.san-francisco-pic {
					background-image: url("https://s3-us-west-1.amazonaws.com/ginnysbucket/dev-images/friscoimage.jpeg");
					background-size: cover;
					opacity: 0.75;
				}
				
				.los-angeles-pic {
					background-image: url("https://s3-us-west-1.amazonaws.com/ginnysbucket/dev-images/losangelesimage.jpeg");
					background-size: cover;
					opacity: 0.75;
				}
				.san-francisco-pic:hover {
					opacity: 1;
					border-width: 2px;
					border-style: inset;
				}
				.los-angeles-pic:hover {
					opacity: 1;
					border-width: 2px;
					border-style: inset;
				}
			}

			a:hover {
				text-decoration: none;
			}
			.fa-angle-down {
				padding-bottom: 0px;
	    	margin-top: -50px;
			}
	}
}
.hunnit {
		background-color: #fff;
		height: 80px;
}

.event {
	
}

#instructions {
	background-color: #000;
	color: #fff;
	min-height: 300px;
	.col-6 {
		margin: auto 0px;
	}
}
.ravemeet-description {
	min-height: 300px;
	.col-6 {
		margin: auto 0px auto 50%;
	}
}
.show {
	.card {
		height: 480px;
		border-radius: 10px;
		background-size: cover;
		.card-body {
			color: black;
			border-radius: 10px;
			background-size: cover;
			background-position-x: center;
			.date {
				background-color: #fff;
				border: 1px solid #007bff;
				border-radius: 10px;
				width: fit-content;
				padding: 0px 10px;
			}
		}
	}
}

.details {
	height: 480px;
	.info-main {
		height: 120px;
		
	}
	.description {
		height: 360px;
		overflow: scroll;
	}
}

.meetups {
	
	.meetup-info {
		min-height: 250px;
		.meetup-list {
			height: 50px;
			.col {
				border: 1px solid black;
			}
		}
	}
	.meetup-modal {
		text-align: center;
	}
	.meetup-full {
	
	}
}

.venue-map {
	img {
		width: 100%;
	}
}

#footer {
	border-top: 1px solid #007bff;
	color: white;
	background-color: black;
	.meetup-link {
		border-bottom: 1px solid white;
		margin: 0px 0px 0px -15px;
		padding-bottom: 20px;
		font-size: 1.5rem;
	}
	.account-links {
		a {
			color: #fff;
		}
		.follow {
			a {
				color: #007bff;
			}
		}
	}
}