/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

.center {
	text-align: center;
	margin: auto;
}

#landing-background {
	height: 550px;
	color: #fff;
	text-align: center;
	padding: 220px 0px;
	background-image: url("https://s3-us-west-1.amazonaws.com/ginnysbucket/audience.jpeg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.events {
	.container {
		.card-deck {
			width: 100%;
			margin: 90px 0px 0px 0px;
			
			.card {
				width: 180px;
				height: 180px;
				margin-bottom: 30px;
				background-color: gray;
				.card-body {
					padding: 65px 0px;
					text-align: center;
					color: white;
				}
			}
		}
	}
}

#instructions {
	background-color: #000;
	color: #fff;
	height: 300px;
}

.show {
	.card {
		width: 460px;
		height: 460px;
		background-color: gray;
		.card-body {
			padding: 160px 0px;
			color: white;
		}
	}
}


