/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 */

@import "bootstrap";
@import "font-awesome";

.center {
	text-align: center;
	margin: auto;
}

.global-nav {
	border-bottom: 1px solid #007bff;
}

#landing-background {
	height: 440px;
	color: #fff;
	text-align: center;
	padding: 220px 0px;
	background-image: url("https://s3-us-west-1.amazonaws.com/ginnysbucket/audience.jpeg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.events {
	h2 {
		margin-top: -20px;
	}
	.container {
		.card-deck {
			width: 100%;
			margin: 70px 0px 0px 0px;
			
			.card {
				width: 275px;
				height: 240px;
				margin-bottom: 30px;
				background-color: gray;
				box-shadow: 1px 3px 18px #888;

				.card-img-top {
					height: 160px;
					background-size: contain;
				}
				.card-body {
					height: 80px;
					padding: 0px 0px;
					text-align: center;
					color: white;
				}
			}
		}
		.event-selector {
			height: 100%;
		}
		a:hover {
			text-decoration: none;
		}
		.fa-angle-down {
			padding-bottom: 30px;
    	margin-top: -30px;
		}
	}
}

.event {
	
}

#instructions {
	background-color: #000;
	color: #fff;
	height: 300px;
}

.show {
	.card {
		height: 480px;
		border-radius: 10px;
		background-size: cover;
		.card-body {
			color: black;
			.date {
				background-color: #fff;
				border: 1px solid #007bff;
				border-radius: 10px;
				width: fit-content;
				padding: 0px 10px;
			}
		}
	}
}

.details {
	height: 480px;
	.info-main {
		height: 120px;
	}
	.description {
		height: 360px;
		overflow: scroll;
	}
}
.meetups {
	height: 650px;
}
.meetup-info {
	height: 250px;
	overflow: scroll;
	.meetup-list {
		height: 50px;
		.col {
			border: 1px solid black;
		}
	}
}
.meetup-full {
	height: 300px;
}
.venue-map {
	img {
		width: 100%;
	}
}


